* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
}

.nav h2 {
    font-weight: 700;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.links {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.link {
    padding: 10px;
}

.menu {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
}

.menu-container {
    display: flex;
    width: 900px;
    justify-content: space-between;
    align-items: center;
}

.image {
    display: flex;
    justify-content: center;
    padding: 30px;

}
.menu img {
    width: 300px;
    height: 200px;
}

.section {
    background-color: white;
    display: flex;
    justify-content: center;
}

.section-title {
    font-weight: 900;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.item-container {
    display: flex;
    width: 900px;
    height: 200px;
    align-items: center;
    justify-content: space-between;
}

.section-2 {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;

}

.section-text {
    font-size: 36px;
    width: 900px;
    font-style: italic;
}

.quote {
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}